/*Styles for the notfound component*/

h3 {
    color:blanchedalmond;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 1.4em;
    margin-top: 8%;
}

p {
    font-size: 1.2em;
    text-align: center;
    color:blanchedalmond;
    margin-bottom: 8%;
}

a {
    font-weight: 500;
    color:rgb(13, 2, 163);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/*Media queries on smaller screen devices*/
@media (max-width:1024px) {
    h3 {font-size: 1.3em;}
    p {font-size: 1.1em;}
}

@media (max-width:600px) {
    h3{ font-size: 1.1em;}
    p {font-size: 0.9em;}
}