<h3>Kurslista</h3>

<!--Input for the search-function-->
<label for="search">Sök på vårt kursutbud:</label>
<br>
<input type="text" id="searchCourse" placeholder="Här kan du söka kurser..." [(ngModel)]="searchText">
<br>
<br>

<!--To choose subject in the list-->
<label for="subject">Välj ämne:</label>
<select id="subject" [(ngModel)]="chosenSub">
    <option value=""disabled selected>Alla kurser</option>
    <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
</select>

<p id="count"><strong>Antal Kurser:</strong> {{currentDisplayedCourses()}}</p>

<table>
    <thead>
    <tr>
        <th (click)="sortSwitch('courseCode')"><u>Koder:</u></th>
        <th (click)="sortSwitch('courseName')"><u>Kursnamn:</u></th>
        <th (click)="sortSwitch('points')"><u>Poäng:</u></th>
        <th (click)="sortSwitch('subject')"><u>Ämne:</u></th>
        <th (click)="sortSwitch('syllabus')"><u>Kursplan:</u></th>
    </tr>
    </thead>
<tbody>
    <!--Displayed data from the courseList.-->
    <tr *ngFor="let course of filteredCourses()">
        <td id="courseCode">{{ course.courseCode }}</td>
        <td id="courseName">{{ course.courseName }}</td>
        <td id="coursePoint">{{ course.points }}</td>
        <td id="courseSubject">{{ course.subject }}</td>
        <td><button id="coursePlan" (click)="WayToSyllabus(course.syllabus)">Kursplanen</button></td>
        <td><button [disabled]="courseAdded(course)"[ngClass]="{'click-green':courseAdded(course)}"(click)="AddCourse(course)">{{ courseAdded(course)?'Tillagd':'Lägg till'}}</button></td>
    </tr>
</tbody>
</table>