<!--HTML doc for app.component.-->

<header>
<div class="headlines">
<h1>Kunskapsverket</h1>
<h2>-Din kunskap, vårt mål</h2>
</div>
<img [src]="imgHeader" id="img-header" alt="Landskapsbild av Klarälven i lila framtoning">
</header>

 <!--The logotype-->
<img src="loggo.png" class="logo" alt="Webbplatsens logotyp"> 

<!--The nav.menu (router)-->
<nav> 
    <ul>
        <li><a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i> STARTSIDA</a></li>
        <li><a routerLink="/courselist" routerLinkActive="active"><i class="fa-solid fa-calculator"></i> KURSLISTA</a></li>
        <li><a routerLink="/schedule" routerLinkActive="active"><i class="fa-solid fa-circle-info"></i> DITT RAMSCHEMA</a></li>
    </ul>
</nav>



<router-outlet />




<!--The footer-->
<footer>
   <p><strong>{{ schoolName }}-</strong> Din kunskap, vårt mål</p>
   <p><i>{{ email }}</i></p>
   <p>© {{ year }}</p>
</footer>


