<!--HTML doc for app.component.-->

<header>
<div class="headlines">
<h1>Kunskapsverket</h1>
<h2>-Din kunskap, vårt mål</h2>
</div>
<img [src]="imgHeader" id="img-header" alt="Landskapsbild av Klarälven i lila framtoning">
</header>

 <!--The logotype-->
<a routerLink="/"><img src="loggo.png" class="logo" alt="Webbplatsens logotyp"></a>

<!--The nav.menu (router), with symbols-->
<nav> 
    <ul>
        <li><a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i> STARTSIDA</a></li>
        <li><a routerLink="/courselist" routerLinkActive="active"><i class="fa-solid fa-table"></i> KURSLISTA</a></li>
        <li><a routerLink="/schedule" routerLinkActive="active"><i class="fa-solid fa-user"></i> DITT RAMSCHEMA</a></li>
    </ul>
</nav>


<router-outlet />


<!--The footer-->
<footer>
   <p id="schoolName"><strong>{{ schoolName }} - </strong> <i>Din kunskap, vårt mål</i></p>
    <a id="mail" [href]="'mailto:'+ email">Skicka e-post <i class="fa-regular fa-envelope"></i></a>
   <p>Besök gärna våra sociala medier:
    <br>
    <br>
    <i class="fa-brands fa-square-facebook"></i> & <i class="fa-brands fa-square-instagram"></i></p>
   <p id="c"><strong>© {{ year }}</strong></p>
</footer>


