<h3>Ramschema</h3>

<!--Current showing points-->
<p id="totalPoints">Total Högskolepoäng:</p>

<table>
    <thead>
    <tr>
        <th><u>Koder:</u></th>
        <th><u>Kursnamn:</u></th>
        <th><u>Poäng:</u></th>
        <th><u>Ämne:</u></th>
        <th><u>Kursplan:</u></th>
       
    </tr>
    </thead>
<tbody>
    
    <tr *ngFor="let course of scheduledCourses">
        
        <td id="courseCode">{{ course.courseCode }}</td>
        <td id="courseName">{{ course.courseName }}</td>
        <td id="coursePoint">{{ course.points }}</td>
        <td id="courseSubject">{{ course.subject }}</td>
        <td><button (click)="WayToSyllabus(course.syllabus)">Kursplanen</button></td>
         <!--Delete button-->
        <td><button (click)="deleteCourse(course)" class="del-button">Ta bort kurs</button></td>
        <!--To mark favourite-course-->
         <td><span id="star" (click)="toggleFav(course)">{{course.favourite ?'&starf;':'&star;'}}</span></td>
        </tr>
</tbody>
</table>
