/*Styles for the schedule component.*/

h3 {
    text-align: center;
    color:blanchedalmond;
    font-size: 1.4em;
}

/*Design on displayed points.*/
#totalPoints {
    font-size: 1em;
    text-align: center;
    color:blanchedalmond;
    font-weight: bold;
}

/*Table design*/
table { 
    text-align: center;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
    padding:2%;
    margin-top: 4%;
    border: 2px blanchedalmond solid;
    margin-bottom: 4%;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
}
td {
    color:blanchedalmond;
    padding:1%;
}
th {
    color:blanchedalmond;
    font-size: 1.2em;
    cursor: pointer;
}
th:hover {
    font-size: 1.45em;
    color:white;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

/*Size of the text for the data.*/
#courseCode {
    font-size: 0.8em;
}
#courseName {
    font-size: 1em;
}
#coursePoint {
    font-size: 0.8em;
}
#courseSubject {
    font-size: 0.9em;
}

/*The syllabus button.*/
#coursePlan {
    background-color: rgb(104, 104, 234);
    padding:6%;
    color: blanchedalmond;
    font-size: 0.8em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    cursor: pointer;
}

/*favourite-star*/
#star {
    font-size:1.5em; 
    cursor: pointer; 
    color: yellow;
}

/*Styles on delete button*/
#del-button {
    background-color: rgb(235, 67, 123); 
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    color:blanchedalmond;
}

/*Styles on deleteList button*/
#del-list {
    background-color:rgb(235, 67, 123); 
    cursor: pointer; 
    padding:1%; 
    font-size: 1em; 
    margin-left: 42%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    color:blanchedalmond;
    margin-bottom: 8%;
}
#del-list:hover {
    font-weight: bold;
}

/*Media queries on smaller screen devices*/
@media (max-width:1024px) {
    #totalPoints {font-size: 0.9em;}
    th {font-size: 0.9em;}
    th:hover {font-size: 1em;} 
    #courseCode {font-size: 0.7em;}
    #courseName {font-size: 0.9em;}
    #coursePoint {font-size: 0.7em;}
    #courseSubject {font-size: 0.7em;}  
    #coursePlan {font-size: 0.7em;}
    #del-button {font-size: 0.7em;}
    #del-list {margin-left:40%;}

}

@media (max-width:600px) {
     table {padding:1.5%;}
    th {font-size: 0.6em;}
    th:hover {font-size: 0.65em}
    td {padding:0.5%;}
    #courseCode {font-size: 0.4em;}
    #courseName {font-size: 0.55em;}
    #coursePoint {font-size: 0.4em;}
    #courseSubject {font-size: 0.5em;}
    #coursePlan {display:none;}
    #coursePlanHidden {display:none;}
    #del-button {font-size: 0.5em;}
    #star {font-size: 1.2em;}
    #del-list {font-size: 0.8em; margin-left: 35%;}
}