/* styles (global) */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(120, 44, 241);
    font-size: 1.2em;
    max-width: 1512px;
    height:auto;
    margin: auto 0;
}

.headlines {
    color:aliceblue; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    text-align: center;
}

header {
    position:relative;
}
#img-header{
    max-width:100%; height:auto; 
}

.logo {
    width:10%; 
    height:10%;
    border-radius: 50%; 
    border: 2px rgb(255, 254, 254) solid; 
    margin-bottom: -9.5%;
    margin-left: 3%;
    
}
/*Navigationmenu*/
nav {
    background-color: blueviolet;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    padding:3%;
    display:flex;
    justify-content: center;
}

ul {
    list-style: none;
    display:flex;
    padding:0;
    margin:0;
}

li {background-color: black;
    padding:10px;
    display: inline; 
    margin: 0 20px; 
    font-size: 1.3em; 
    font-weight: bold; 
    text-align: center;
}

a {
    text-decoration: none;
    color:white; 
    cursor: pointer;
}
nav a:hover {
    color: purple; 
} 

nav a.active {
    color: purple; 
    text-decoration: underline; 
}
