/* styles (global) */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(120, 44, 241);
    font-size: 1.2em;
    max-width: 1512px;
    height:auto;
    margin-right:auto;
    margin-left: auto;
}

/*Header including image and headings.*/
.headlines {
    color:aliceblue; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    text-align: center;
}
header {
    position:relative; 
}
#img-header{
    max-width:100%; height:auto; 
}

/*Website logo*/
.logo {
    width:100px; 
    height:auto; 
    border: 2px blanchedalmond solid; 
    margin-bottom: -7%;
    margin-left: 3%;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    
}

/*Navigationmenu*/
nav {
    background-color: blueviolet;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    padding:2%;
    display:flex;
    justify-content: center;
}
ul {
    list-style: none;
    display:flex;
    padding:0;
    margin:0;
}
li {
    background-color: rgb(175, 64, 235);
    padding:10px;
    display: inline; 
    margin: 0 20px; 
    font-size: 1.3em; 
    font-weight: bold; 
    text-align: center;
    border: 2px white solid;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
}
a {
    text-decoration: none;
    color:white; 
    cursor: pointer;
}
nav a:hover {
    color: purple; 
} 
nav a.active {
    color: purple; 
    text-decoration: underline; 
}

/*Website footer*/
footer {
    box-shadow: 0px -4px 10px rgba(0,0,0,0.7);
    font-size: 1.1em;
    background-color: blueviolet;
    padding:1%;
    text-align: center;
    color:blanchedalmond;
}

#schoolName {
    text-shadow: 4px 4px 8px rgba(2, 2, 2, 0.902);
}

/*Social media symbols.*/
.fa-square-facebook {
    font-size: 50px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7)
}
.fa-square-instagram { 
    font-size: 50px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7)
}

/*Styles on the mail-addres.*/
#mail {
    color:rgb(13, 2, 163); 
    text-decoration: underline; 
    font-weight: 500;}

#c {
    font-size: 0.8em;
}

/*Media queries on smaller screen devices*/
@media (max-width:1024px) {
    .logo {margin-left: 8%; margin-bottom: -18%;}
    li {margin:10px; font-size: 1.2em;}
    ul {flex-direction: column;}
}

@media (max-width:600px) {
    .headlines h1 {font-size: 1.4em;}
    .headlines h2 {font-size: 1.1em;}
    .logo {width:60px; margin-left:4%; margin-bottom: -20%;}
    li {font-size: 0.8em; margin:4px;}
    ul {flex-direction: column;}
    footer {font-size: 0.8em;}
    .fa-square-facebook {font-size: 25px;}
    .fa-square-instagram { font-size: 25px;}
    #c {font-size: 0.7em;}
}