/* styles (global) */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(120, 44, 241);
    font-size: 1.2em;
    max-width: 1512px;
    height:auto;
    margin-right:auto;
    margin-left: auto;
}

.headlines {
    color:aliceblue; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    text-align: center;
}

header {
    position:relative; 
}
#img-header{
    max-width:100%; height:auto; 
}

.logo {
    width:100px; 
    height:auto; 
    border: 2px black solid; 
    margin-bottom: -7%;
    margin-left: 3%;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    
}
/*Navigationmenu*/
nav {
    background-color: blueviolet;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    padding:2%;
    display:flex;
    justify-content: center;
}

ul {
    list-style: none;
    display:flex;
    padding:0;
    margin:0;
}

li {background-color: rgb(175, 64, 235);
    padding:10px;
    display: inline; 
    margin: 0 20px; 
    font-size: 1.3em; 
    font-weight: bold; 
    text-align: center;
    border: 2px white solid;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
}

a {
    text-decoration: none;
    color:white; 
    cursor: pointer;
}
nav a:hover {
    color: purple; 
} 

nav a.active {
    color: purple; 
    text-decoration: underline; 
}

footer {
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    border:4px blanchedalmond solid;
    font-size: 1.1em;
    background-color: blueviolet;
    padding:1%;
    text-align: center;
}
#schoolName {text-shadow: 4px 4px 8px rgba(253, 252, 252, 0.902);}
.fa-square-facebook {font-size: 50px;}
.fa-square-instagram { font-size: 50px;}