<h3>Kunskapsverket välkomnar dig!</h3>

<p id="intro"><Strong>Ditt</Strong> centrum för att finna kunskap, forskning och innovation. 
    Här går det att finna expertis inom alla de främsta områdena, som passar just ditt behov och intresse.
    <br>
    <strong>Vårt</strong> breda utbud av kurser, vill vi insperera, 
    motiver och främja ett aktivt lärande. 
    <br>
    Tillsammans med dina kursval önskar vi få följa dig i din kunskaps-resa. 
    Vi ser möjligheter att få vara din pålitliga guide genom din väg mot framtidens upptäckter och insikter. 
</p>

<p id="motto"><i> "Din kunskap, vårt mål" </i></p>

<div id="box1">
<img [src]="imgBox1" id="img-box1" alt="Abstraktbild med en gestalt av en människa med rubriker och böcker">
<h4>Kurslista</h4>
<p>På sidan "Kurslista" kan du välja på vårt breda utbud på de kurser som passar dig bäst.
    Det går att välja mellan ett flertal kategorier inom världens olika kunskapsområden.
    Välj och vraka - Valet är ditt!</p>
</div>

<div id="box2">
<img [src]="imgBox2" id="img-box2" alt="Uppslagen kalender på ett bord med rosa blommor">
<h4>Ditt ramschema</h4>
<p>För att se dina valda kurser, går det att besöka sidan "Ditt ramschema". 
    Där presenteras dina kursval hos oss, där du också kan hantera dem efter tycke och smak.</p>
</div>


