/*Styles for the home.component*/

h3 {
    color:blanchedalmond;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    margin-top: 4%;
}

#intro {font-size: 1.1em;
    color:blanchedalmond;
    text-align: center;
    margin-left:22%;
    margin-right:22%;
}

#motto {
    color:blanchedalmond;
    font-size: 1.2em;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
    text-shadow: 8px 8px 10px rgba(0,0,0,0.5);
}

h4 {
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

/*Grid container to to use grid-area.*/
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap: 2%;
}

#box1 { 
    grid-area:1/2/2/2; 
    width:250px;
    height:500px;
    margin-left: 18%;
    color:blanchedalmond;
    margin-bottom: 8%;
    text-align: center;
}

#box2 {
    grid-area:1/3/2/3;
    width:250px;
    height:150px;
    margin-right: 18%;
    color:blanchedalmond;
    margin-bottom: 8%;
    text-align: center;
}

#img-box1 {
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    border: 4px blanchedalmond solid;
    max-width: 250px;
    height:200px;
}

#img-box2 {
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
     border: 4px blanchedalmond solid;
    max-width: 250px;
    height:200px;
}

/*Media queries on smaller screen devices*/
@media (max-width:1024px) {
    h3 {margin-top: 6%;}
    #intro {font-size:1em; margin-left: 15%; margin-right: 15%;}
    #motto {font-size: 1.1em;}
    #box1 p {font-size: 0.9em; margin-right:6%;}
    #box1 {margin-left: 0;}
    #box2 p {font-size: 0.9em; margin-left: 6%;}
    #box2 {margin-right:0;}
    #img-box1 {max-width: 225px; height:175px; margin-right:8%;}
    #img-box2 {max-width: 225px; height:175px; margin-left:8%;}
    h4 { font-size: 1.2em;}
}

@media (max-width:600px){
    h3 {font-size: 1.2em;}
    #intro {font-size: 0.9em; margin-left: 5%; margin-right: 5%;}
    #motto {font-size: 1em;}
    h4{font-size: 1em;}
    #box1 {grid-area:1/2/2/4; width:200px; height: 450px; margin:0 auto; margin-top: 6%; }
    #box1 p {font-size: 0.8em; margin-right:0;}
    #box2 {grid-area:2/2/3/4; width:200px; height: 450px; margin-bottom: 4%; margin:0 auto;}
    #box2 p {font-size: 0.8em; margin-left:0;}
    #img-box1 {max-width: 200px; height:150px;margin-right:0%;}
    #img-box2 {max-width: 200px; height:150px;margin-left:0%;}
    h4 {font-size: 1em;}
}