h3 {
    color:blanchedalmond;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

#intro {font-size: 1.1em;
    color:blanchedalmond;
    text-align: center;
    margin-left:22%;
    margin-right:22%;}

#motto {
    color:blanchedalmond;
    font-size: 1em;
    text-align: center;
    margin-bottom: 5%;
}
h4 {text-align: left;
text-shadow: 4px 4px 8px rgba(0,0,0,0.5);}


#box1 {
    width:250px;
    height:500px;
    float:left;
    margin-left: 18%;
    margin-bottom: 4%;
    color:blanchedalmond;
}

#box2 {
    width:250px;
    height:150px;
    float:right;
    margin-right: 18%;
    margin-bottom: 4%;
    color:blanchedalmond;
}

#img-box1 {
    border: 4px blanchedalmond solid;
    max-width: 250px;
    height:200px;
}

#img-box2 {
     border: 4px blanchedalmond solid;
    max-width: 250px;
    height:200px;
}

